body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1e1e2e;
    margin: 0;
}

.circle-container {
    position: relative;
    width: 300px;
    height: 300px;
}

.dot {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #f54257;
    border-radius: 50%;
}
